@media only screen and (max-width: 780px) {
  .grid {
    margin:var(--header-height) 1rem 1rem 1rem;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap:1rem;
    margin-bottom:10rem;
  }

  .grid .caption {
    grid-column: 1 / 5;
  }

  .grid .bio {
    grid-column: 5 / -1;
    margin-bottom:8rem;
  }

  .grid .image {
    grid-column: 1 / -1;
    margin-bottom:0;
  }

  .grid #artists {
    grid-column: 1 / -1;
    columns: 1;
    padding-bottom:8rem;
  }

  .grid #artists a {
  }

  .L {
    max-width:100%;
  }

  .M {
    max-width:100%;
  }

  .S {
    max-width:100%;
  }

  .header {
  }

  .when {
    grid-column: 2 / -1;
  }

  .sun {
    grid-column: 5 / -1;
  }

  .comes {
    grid-column: 4 / -1;
  }

  .out {
    grid-column: 9 / -1;
  }

  .when, .sun, .comes, .out, .quote, .unquote {
    margin-bottom: 8rem;
    font-size:3rem;
  }

  .footer {
    bottom:1rem;
    margin:0 1rem 0 1rem;
    font-size:0.875rem;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1rem;
  }

  .footer > a:nth-of-type(1) {
    grid-column: 1 / 3;
  }

  .footer > a:nth-of-type(2) {
    grid-column: 3 / 5;
  }

  .footer > a:nth-of-type(3) {
    grid-column: 5 / -1;
    justify-self: end;
  }

  .footer > a:last-of-type {
    display:none;
  }

  /* modal */

  #modal-frame {
      display: none;
      position: fixed;
      z-index: 4;
      line-height: 0;
  	  left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 100vh;
      overflow-x: scroll;
      overflow-y: hidden;
  	cursor: zoom-out;
    padding:0;
  }

  .modal-content {
    margin: auto;
      height:100%;
      width:auto;
  }

  .works-list {
    justify-content: space-around;
    width: 100vw;
    min-height: 100vh;
    height: 700vh;
    flex-direction: column;
    padding: 4rem 1rem 4rem 1rem; /*2rem*/
  }
  .works-list .entry {
    margin: auto;
  }



}

@media only screen and (max-width: 350px) {
  .footer {
    display:none;
  }
}
