.grid {
  display: grid;
  margin:var(--header-height) 2rem 2rem 2rem;
  grid-template-columns: repeat(18, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap:12rem;
  max-width:var(--content-width);
  margin-bottom:20rem;
}

.grid .caption {
  grid-column: 13 / 15;
}

.grid .bio {
  grid-column: 15 / 19;
}

.grid .image {
  grid-column: 1 / 13;
  display:flex;
  justify-content: center;
  margin-bottom:20rem;
}

.grid #artists {
  font-size:2rem;
  line-height: 1.125em;
  grid-column: 4 / 16;
  columns: 3;
  padding-top:200px;
  min-height:100vh;
  text-align: center;
  align-self: center;
}

.grid #artists a {
  display: block;
  margin-bottom:0.25em;
  margin-block-start:0;
  margin-block-end:0.25em;
}

.grid #intro {
  font-size:1.5rem;
  line-height:1.125em;
  grid-column: 1/-1;
  min-height:100vh;
  columns:3;
  column-gap: 2rem;
}

.grid #intro .secondary {
  font-size:0.875rem;
  line-height: 1.25em;
}

.L {
  flex:4;
  max-width:75%;
}

.M {
  flex:2;
  max-width:50%;
}

.S {
  flex:1;
  max-width:33%;
}

.header {
  position:fixed;
  top:0;
  left: 50%;
  /*margin-top:1rem;*/
  transform: translate(-50%, 0);
  height:var(--header-height);
  /*padding-bottom:64px;*/
  z-index:1;
}

.when {
  grid-column: 3 / -1;
}

.sun {
  grid-column: 8 / -1;
  justify-self: center;
}

.comes {
  grid-column: 7 / -1;
}

.out {
  grid-column: 15 / 17;
  justify-self: center;
}

.quote {
  grid-column: 1 / -1;
}

.unquote {
  grid-column: 12 / -1;
  justify-self: end;
}

.when, .sun, .comes, .out, .quote, .unquote {
  font-size:6vw;
  font-family:'futura-bf', sans-serif;
}

.footer {
  position:sticky;
  bottom:1rem;
  margin:0 2rem 0 2rem;
  display:grid;
  grid-template-columns: repeat(18, 1fr);
  grid-column-gap: 2rem;
  max-width: var(--content-width);
  align-items: end;
}

.footer > a:nth-of-type(1) {
  grid-column: 1 / 2;
}

.footer > a:nth-of-type(2) {
  grid-column: 2 / 3;
}

.footer > a:nth-of-type(3) {
  grid-column: 13 / 17;
}

.footer > a:last-of-type {
  grid-column: 17 / 19;
  justify-self:end;
}

/* modal */

#modal-frame {
    display: none;
    position: fixed;
    z-index: 4;
    line-height: 0;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
	max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
	cursor: zoom-out;
}

.modal-content {
  margin: auto 0 -20px;
    width:100%;
    overflow-x: hidden;
}
